.App {
  text-align: center;
  margin: 20px;
}

textarea {
  width: 80%;
  height: 100px;
  margin-bottom: 10px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

textarea.highlight {
  background-color: rgb(160, 160, 226);
}
